body {
  min-height: 100dvh;
  font-family: var(--font-size);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--black);
  background-color: var(--color-pale-blue);
}

main {
  overflow: hidden;
}
