:root {
  --font-size: "Inter", sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #9b9b9b;
  --color-red: #ff4343;
  --color-green: #a5d364;
  --color-green-thin: #9dd458;

  --gradient: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  --shadow: 0px 14px 30px 0px #0000000d;
  --transition: all 0.3s ease-in;
  --padding-section: 100px 0;
}
