:root {
  --font-size: "Inter", sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #9b9b9b;
  --color-red: #ff4343;
  --color-green: #a5d364;

  --gradient: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  --transition: all 0.3s ease-in;
  --padding-section: 100px 0;
}
